@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicatieGebruiker> SignInManager
@inject UserManager<ApplicatieGebruiker> UserManager
<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Zorg maatschap Den Haag</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header class="mb-4">
        <nav class="navbar navbar-expand-lg navbar-toggleable-lg">
            <div class="container">
                <a class="navbar-brand" asp-area="" aria-label="Logo van ZMDH" asp-controller="Home" asp-action="Index">
                    <img src="https://logojinni.com/image/logos/slack-463.svg" width="75" height="75" alt="logo">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Navigatie uitklappen">
                    <i class="fa fa-bars"></i>
                </button>
                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-label="Link naar homepagina" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @if(SignInManager.IsSignedIn(User) && User.IsInRole("Moderator"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" aria-label="Link naar alle hulpverleners" asp-controller="Moderator" asp-action="Hulpverlener">Hulpverleners</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" aria-label="Link naar alle clienten" asp-controller="Moderator" asp-action="Client">Clienten</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" aria-label="Link naar chat meldingen" asp-controller="Moderator" asp-action="Melding">Melding</a>
                            </li>
                             <partial name="_LoginPartial"></partial>
                        }
                        else if(SignInManager.IsSignedIn(User) && User.IsInRole("Client"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" aria-label="Link naar wijzig woonplaats" asp-controller="Client" asp-action="Woonplaats">Woonplaats</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" aria-label="Link naar privechat met jouw orthopedagoog" asp-controller="PriveChat" asp-action="Chat">Chat</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" aria-label="Link naar mijn Dossier" asp-controller="Client" asp-action="Dossier">Mijn Dossier</a>
                            </li>    
                            <li class="nav-item">
                                <a class="nav-link" aria-label="Link naar open zelfhulp groepen" asp-controller="GroepsChat" asp-action="Index">Open Groepen</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" aria-label="Link naar mijn zelfhulp groepen" asp-controller="GroepsChat" asp-action="MijnChats">Mijn Zelfhulp Groepen</a>
                            </li>

                            <partial name="_LoginPartial"></partial>
                        }

                        else if(SignInManager.IsSignedIn(User) && User.IsInRole("Hulpverlener"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" aria-label="Link naar uw privechats" asp-controller="PriveChat" asp-action="Index">Chats</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link"aria-label="Link naar uw clienten" asp-controller="Hulpverlener" asp-action="Clienten">Clienten</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" aria-label="Link naar aanmeldingen op uw naam" asp-controller="Hulpverlener" asp-action="Aanmelding">Aanmelding</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" aria-label="Link naar mijn zelfhulp groepen" asp-controller="GroepsChat" asp-action="Index">Zelfhulp Groepen</a>
                            </li>
                             <partial name="_LoginPartial"></partial>
                        }
                        else if(SignInManager.IsSignedIn(User) && User.IsInRole("Voogd"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" aria-label="Link naar uw kind" asp-controller="Voogd" asp-action="Index">Client</a>
                            </li>
                             <partial name="_LoginPartial"></partial>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" aria-label="Link naar aanmelden voor een afspraak" asp-controller="Aanmelding" asp-action="Create">Aanmelden</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" aria-label="Link naar orthopedagogen bekijken" asp-controller="Home" asp-action="Orthopedagogen">Orthopedagogen</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" aria-label="Link naar over ons" asp-controller="Home" asp-action="OverOns">Over ons</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" aria-label="Link naar veel gestelde vragen" asp-controller="Home" asp-action="FAQ">FAQ</a>
                            </li>
                            <partial name="_LoginPartial"></partial>
                        }
                        <li class="nav-item">
                            <a href="#" class="nav-link" aria-label="Tekst groter knop" onclick="fontSizeLg()">Tekst groter</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link" aria-label="Tekst kleiner knop" onclick="fontSizeMd()">Tekst kleiner</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main role="main">
        <div class="container">
            @RenderBody()
        </div>
    </main>
    <footer class="border-top footer pt-5 pb-3 mt-3">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h3>De praktijk</h3>
                    <ul>
                        <li><a aria-label="Link om te bellen naar de praktijk" href="tel:+31612345678">+31612345678</a></li>
                        <li><a aria-label="Link om te mailen naar de praktijk" href="mailto:praktijk@zmdh.nl">praktijk@zmdh.nl</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h3>Volg Ons</h3>
                    <ul>
                        <li>Facebook</li>
                        <li>Instagram</li>
                        <li>Twitter</li>
                        <li>Linkedin</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h3>Privacy</h3>
                    <ul>
                        <li><a aria-label="Link naar privacyverklaring" asp-controller="Home" asp-action="Privacy">Privacyverklaring</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
