@model IEnumerable<string>

@{
    ViewData["Title"] = "Chat Frequentie";
}

<h1>Chat Frequentie</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Datum :
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
               @item
            </td>
        </tr>
}
    </tbody>
</table>