@page
    <div class="container">
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-4"><input type="hidden" for="clientid" id="clientid" value=@ViewBag.clientid></div>
            <div class="col-4"><input type="hidden" for="chattid" id="chattid" value=@ViewBag.chattid></div>
            <div class="col-4"><input type="hidden" for="verstuurder" id="verstuurder" value=@ViewBag.verstuurder></div>
            <div class="col-4"><input type="hidden" for="chattype" id="chattype" value=privechat></div>
            <div class="col-4"><input type="hidden" for="naam" id="naam" value="@ViewBag.naam"></div>
        </div>

        <div class="row">
            <div class="col-6">
                <h2>@ViewBag.Chatnaam</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <ul id="messagesList"></ul>
            </div>
        </div>

        
        <div class="row">
            <div class="col-12">
                <hr />
            </div>
        </div>

        <div class="row">
            <div class="col-2">Message</div>
            <div class="col-4"><input type="text" id="messageInput" /></div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-6">
                <input type="button" id="sendButton" value="Send Message" onclick="sendPm()"/>
            </div>
        </div>

    </div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>