@page
@model GroepsChat;

    <div class="container">
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-4"><input type="hidden" for="groepid" id="groepid" value=@ViewBag.groepid></div>
            <div class="col-4"><input type="hidden" for="chattid" id="chattid" value=0></div>
            <div class="col-4"><input type="hidden" for="groepnaam" id="groepnaam" value="@ViewBag.gp"></div>
            <div class="col-4"><input type="hidden" for="chattype" id="chattype" value=groepschat></div>
        </div>
        <div class="row">
            <div class="col-2">Message</div>
            <div class="col-4"><input type="text" id="messageInput" /></div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-6">
                <input type="button" id="sendButton" value="Send Message" onclick= "sendGroupMessage()" />
                <input type="button" id="@ViewBag.gp" value="Join Ali" onclick= "JoinGroep(this)" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>
    @ViewBag.Account
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>