@{
    ViewData["Title"] = "Aanmelden";
}

<section id="signupWrapper">
    <div class="container">
        <div class="row">
            <h1>Heading</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <div class="row text-center">
            <div class="form-box">
                <h2>Aanmelden</h2>
                <form>
                    <label for="naam">Naam:</label>
                    <input type="text" id="naam" name="naam"><br>
                    <label for="geboortedatum">Geboortedatum:</label>
                    <input type="date" id="geboortedatum" name="geboortedatum"><br>
                    <label for="ouderverzorger">Naam ouder/verzorger:</label>
                    <input type="text" id="ouderverzorger" name="ouderverzorger"><br>
                    <label for="aandoening">Aandoening:</label>
                    <input type="text" id="aandoening" name="aandoening">
                </form>
            </div>   
        </div>
    </div>
</section>