@model Aanmelding

@{
    ViewData["Title"] = "Aanmelden";
    var Hulpverleners = ViewData["Hulpverlener"];
    List<SelectListItem> List = new List<SelectListItem>();
    foreach(var hulp in (List<Hulpverlener>)Hulpverleners)
    {
        List.Add(new SelectListItem() { Text = hulp.Voornaam, Value = hulp.Id.ToString() });
    }
}

<section id="imageWrapper" class="mb-2">
    <img src="~/img/aanmeldBanner.png" alt="plaatje van orthopedagoog en client" class="rounded mx-auto d-block img-fluid">
</section>

<section id="signupWrapper">
    <div class="container">
        <div class="row">
            <h1>Gelukt</h1>
            <p>Uw aanmelding is verzonden naar de orthopedagoog.</p>
        </div>
    </div>
</section>