@{
    ViewData["Title"] = "Anneke";
}

<section id="aboutmeWrapper">
    <div class="container">
        <div class="row mb-4">
            <img src="~/img/Anneke.png" alt="foto van Anneke" class="rounded img-fluid">
        </div>
        <div class="row">
            <h1>Anneke</h1>
            <p>
                Ik ben Anneke Bergsma, geboren in 1984 in Gouda en heb 1 oudere broer. Ik ben opgegroeid in Waddinxveen en heb veel gezeild als kind. Toen ik van de basisschool afkwam heb ik Heb ik een eetstoornis gehad. Ik kan mij dan ook goed in jongeren verplaatsen die dit ook ervaren. Dit is ook de reden dat ik nu jongeren wil helpen met een eetstoornis.  
            </p>
            <h2>Mijn studie</h2>
            <p>
              Ik heb orthopedagogiek gestudeerd aan de Vrije Universiteit Amsterdam. Bij het afstuderen heb ik mij gespecialiseerd in de behandeling van eetstoornis.  
            </p>
            <h2>Heb jij een eetsoornis?</h2>
            <p>
                Jij denkt dat je een eetstoornis hebt of iemand anders denkt dat. Ben jij bang om aan te komen of wissel jij vaak van eetbuien naar strenglijnen. Het kan ook zijn dat jij veel eet als je verdrietig bent of als je boos ben.  
            </p>
            <h2>Wat gaan wij doen?</h2>
            <p>
                Ik ga samen met jou en eventueel jouw ouders uitzoeken of jij een eetstoornis hebt. Dit gaan we doen door jou een paar testen te laten maken. Als er uit deze testen blijkt dat jij een eetstoornis hebt, dan gaan wij samen kijken hoe wij jouw situatie kunnen verbeteren.  

  

Eerst zullen wij samen met elkaar gaan praten. Dit kan met of zonder jouw ouders zijn. Tijdens dit gesprek zal ik veel vragen stellen. Dit doe ik om jou beter te kunnen begrijpen en om te kijken welke therapie het beste bij jou past. Hierna zal ik jou een paar tips meegeven die je kan gebruiken als je last hebt van je eetstoornis. Ook gaan we samen een gesprek aan met een diëtiste om ervoor te zorgen dat we een dieet kunnen vinden waar jij je prettig bij voelt en die gezond voor je is.  

  

Als je nog vragen hebt, kan je mij doordeweeks altijd bellen of e-mailen.  
            </p>
        </div>
    </div>
</section>