@{
    ViewData["Title"] = "Emma";
}

<section id="aboutmeWrapper">
    <div class="container">
        <div class="row mb-4">
            <img src="~/img/Emma.png" alt="foto van Emma" class="rounded img-fluid">
        </div>
        <div class="row">
            <h1>Emma</h1>
            <p>
                Mijn naam is Emma Bauer, ik ben 27 en woon samen met mijn vriend en zoontje van twee in Zoetermeer. Ik houd al heel mijn leven van kinderen dus ik besloot er mijn werk van te maken. Ik vind het belangrijk dat kinderen met ADHD ook een kans verdienen om een normaal leven te leiden.   
            </p>
            <h2>Mijn studie</h2>
            <p>
               Na het afstuderen op het VWO ben ik naar het Erasmus Universiteit gegaan in Rotterdam en heb ik daar mijn Master Orthopedagogiek gehaald. Nu specialiseer ik me vooral in kinderen met ADHD.
            </p>
            <h2>ADHD?</h2>
            <p>
                ADHD is een aandachtstoornis. Mensen die last hebben van ADHD zijn snel afgeleid, heel actief. Dit is vooral storend in situaties zoals school, werk of andere sociale situaties. 

 

                Een vaak voorkomend voorbeeld is rusteloosheid. Je bent dan vaak heel erg druk en niet zomaar rustig te krijgen.  Vaak betekend dat ook dat je problemen hebt met concentreren, bijvoorbeeld in de klas. 
            </p>
            <h2>Hoe ga ik te werk?</h2>
            <p>
                Als eerste wil ik weten hoe het met je gaat, dat geld voor thuis als op school. Vaak zijn er dingen waar je tegenaan loopt. In alle gevallen wil ik er zo veel mogelijk van weten. Als je jonger dan 16 jaar bent, wil ik ook graag met je ouders een gesprek over je houden. Op deze manier leer ik je goed kennen. Als je ADHD hebt zijn er meestal wel een paar verschillen tussen jouw leven en die van iemand zonder ADHD. 

 

Als je ADHD hebt, dan houden we contact. Je kan mij dan altijd bereiken. Je kan uiteindelijk ook deelnemen met chatgroepen die ik heb gemaakt. Hierin kan je ook met mij praten en met een hoop andere mensen met ADHD. Verder probeer ik je zo goed mogelijk te helpen met problemen thuis of op school en hoe je daar het beste mee om moet gaan.
            </p>
        </div>
    </div>
</section>