@{
    ViewData["Title"] = "Hareld";
}

<section id="aboutmeWrapper">
    <div class="container">
        <div class="row mb-4">
            <img src="~/img/Hareld.png" alt="foto van Harold" class="rounded img-fluid">
        </div>
        <div class="row">
            <h1>Harold</h1>
            <p>
                Mijn naam is Harold Chad, ik ben 33 jaar oud en kom uit Den Haag. Toen ik 20 jaar was ben ik gaan wonen in de stad Leiden. 
                Ik ben een persoon die graag andere mensen helpt en vooral jongeren die vervelende dingen meemaken.  
            </p>
            <h2>Mijn studie</h2>
            <p>
                Nadat ik mijn diploma heb behaald op de middelbare school ben ik orthopedagogie gaan studeren aan de Universiteit van Leiden. 
            </p>
            <h2>Angst?</h2>
            <p>
                Iedereen is wel eens bang voor iets, dat kunnen verschillende dingen zijn die we tegenkomen. 
                Ik kan me goed voorstellen dat angst moeilijk te controleren is en jij hebt er op dit moment ook misschien last van.
            </p>
            <h2>Wat nu</h2>
            <p>
                Ik ga met jou op zoek naar wat voor angststoornis(en) jij last hebt waarbij ook jouw ouder(s)/verzorger(s) betrokken worden. 
                Het kan zijn dat je bij mij op het goede adres zit omdat ik zelf ook ervaringen met angststoornissen heb. 
                Ik luister naar jouw verhaal en stel je regelmatig vragen daar over. 
                We gaan samen de uitdaging aan door leuke oefeningen te doen die je zeker een stap dichterbij helpen om over jouw angststoornis te komen.  

                Je bent van harte welkom op de praktijk, ik help je heel graag. 
                Wil je eerst nog meer weten? Bel of mail me gerust. We plannen een intakegesprek in om te zien of wij goed met elkaar om kunnen gaan. Daarna kun je eventueel in overleg met je ouder(s)/verzorger(s)-inschrijven voor een behandeling.
            </p>
        </div>
    </div>
</section>