@{
    ViewData["Title"] = "Homepagina";
}

<section id="imageWrapper" class="mb-2">
    <img src="~/img/homeBanner.png" alt="plaatje van orthopedagoog" class="rounded mx-auto d-block img-fluid">
</section>

<section id="cardsWrapper">
    <div class="container">
        <div class="row mb-4">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Introductie</h5>
                        <p class="card-text">
                            Wij zijn Orthopedagogiek Praktijk Zorg Maatschap Den Haag en wij zijn gespecialiseerd in het helpen van jongeren tot en met 18 jaar met een stoornis. 
                            Deze stoornissen kunnen bijvoorbeeld ADHD, Eetstoornis, Dyslexie, etc. zijn. 
                            Ons team bestaat uit orthopedagogen met veel werk ervering en iedereen heeft zijn eigen specialisatie. 
                        </p>
                        <p class="card-text">
                            Wij werken met een online platform waar de jongeren, die in behandeling zijn, met elkaar kunnen chatten. 
                            Daarbij wordt de privacy van de gebruiker optimaal gewaarborgd en kunnen de jongeren praten met andere jongeren die een soort gelijke situatie hebben.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>