<div class="container">
    <h1>Introductietekst</h1>
    <p>
    Wij zijn Orthopedagogiek Praktijk Zorg Maatschap Den Haag en wij zijn gespecialiseerd in jongeren tot en met 18 jaar met een stoornis. Deze stoornissen kunnen bijvoorbeeld ADHD, Eetstoornis, Dyslexie, etc. zijn.
    </p>
    <p>
        Ons team bestaat uit orthopedagogen met veel werk ervaring en iedereen heeft zijn eigen specialisme. 
    </p>
    <p>
        Wij werken met een online platform waar de jongeren, die in behandeling zijn, met elkaar kunnen chatten. Daarbij wordt de privacy van de gebruiker optimaal gewaarborgd en kunnen de jongeren praten met andere jongeren die een soort gelijke situatie hebben.
    </p>
    <p>
        Indien u uw kind wilt aanmelden, hebben wij een paar gegevens van u nodig. De gegevens die nodig zijn verschillen ook op basis van de leeftijd van uw kind. De gegevens zijn onder andere:
    </p>
    <ul>
        <li>Voor- en achternaam</li>
        <li>BSN nummer (dit is nodig om de dossiergegevens op te halen)</li>
        <li>Emailadres</li>
        <li>Geboortedatum</li>
        <li>Stoornis</li>
        <li>Orthopedagoog</li>
    </ul>
    <p>
        Als de client jonger is dan 16, dan hebben wij ook de volgende gegevens en toestemming nodig van de ouders/voogd.
    </p>
    <ul>
        <li>Naam</li>
        <li>Emailadres</li>
        <li>Telefoonnummer</li>
    </ul>
    <p>
        Mocht de client jonger dan 12 zijn, dan kunt u als voogd de chatfrequentie inzien van de client.
    </p>
    <p>
        Wij hechten veel waarde aan het vertrouwelijk omgaan met uw gegevens. Daarom houden wij ons aan <a aria-label="privacy beleid" asp-controller="Home" asp-action="Privacy">privacyverklaringen en privacybeleid</a> die u aantreft.
    </p>
</div>