<div class="container">
    <h1>Heeft u een klacht? Laat het ons weten</h1>
    <p>
    Het is altijd vervelend als er iets niet naar wens is. Uw feedback hierop is daarom enorm waardevol voor ons. Klachten zijn belangrijk voor ons om onze diensten te verbeteren. Het is daarom belangrijk dat u zo duidelijk mogelijk het probleem aan ons toelicht. Op deze manieren Manier/wijze kunnen wij u zo goed mogelijk helpen:
    </p>
    <h2>Maak uw klacht kenbaar</h2>
    <p>
        Vertel ons zo duidelijk mogelijk wat er mis is gegaan en wat we voor u kunnen doen.
    </p>
    <h2>Schrijf het liefst een email</h2>
    <p>
        Om uw klacht in behandeling te nemen, vragen wij u een mail te sturen naar <a aria-label="Klachten mail link" href="mailto:klacht@zmdh.nl">klacht@zmdh.nl</a>
    </p>
    <h2>U ontvangt een reactie</h2>
    <p>
        We zullen u zo snel mogelijk mailen over de status van uw klacht. Houd er rekening mee dat sommige klachten langer duren om te verwerken dan andere. Een reactie is altijd gegarandeerd binnen 5 werkdagen, ook al is het probleem dan nog niet opgelost. In sommige gevallen nodigen wij u uit om langs te komen om met het team uw klacht te bespreken. We nemen uw klacht heel altijd serieus.
    </p>
    <h2>Oplossing</h2>
    <p>
        Wij zorgen ervoor dat we alles op alles zetten om een oplossing voor uw te realiseren en we houden u altijd op de hoogte.
    </p>
</div>