@{
    ViewData["Title"] = "Orthopedagogen";
}

<div class="container">
    <h1 class="text-center mb-4">Orthopedagogen</h1>
    <div class="row mb-4">
        <div class="col-md-4 mb-3 mb-md-0">
            <div class="card">
                <img src="https://i.ytimg.com/vi/C_KdtY2jzlY/maxresdefault.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Jeroen</h5>
                    <p class="card-text">Bruin of geel? Jeroen maakt het niet uit!</p>
                    <a asp-area="" asp-controller="Home" asp-action="Ricco" class="btn btn-secondary">Lees meer</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3 mb-md-0">
            <div class="card">
                <img src="https://i.ytimg.com/vi/C_KdtY2jzlY/maxresdefault.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Jeroen</h5>
                    <p class="card-text">Bruin of geel? Jeroen maakt het niet uit!</p>
                    <a asp-area="" asp-controller="Home" asp-action="Harold" class="btn btn-secondary">Lees meer</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3 mb-md-0">
            <div class="card">
                <img src="https://i.ytimg.com/vi/C_KdtY2jzlY/maxresdefault.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Jeroen</h5>
                    <p class="card-text">Bruin of geel? Jeroen maakt het niet uit!</p>
                    <a asp-area="" asp-controller="Home" asp-action="Emma" class="btn btn-secondary">Lees meer</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mb-3 mb-md-0">
            <div class="card">
                <img src="https://i.ytimg.com/vi/C_KdtY2jzlY/maxresdefault.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Jeroen</h5>
                    <p class="card-text">Bruin of geel? Jeroen maakt het niet uit!</p>
                    <a asp-area="" asp-controller="Home" asp-action="Anneke" class="btn btn-secondary">Lees meer</a>
                </div>
            </div>
        </div>
    </div>
</div>