@{
    ViewData["Title"] = "Over ons";
}
<div class="container">
    <div class="row mb-5">
        <h1>@ViewData["Title"]</h1>
        <p>
        Bij zorgmaatschap Den Haag werken er specialisten die zich richten op kinderen, jongeren en hun ouders. Wij werken doelgericht, 
        efficiënt en passen ons aan wanneer dat nodig is voor onze de cliënten. Onze orthopedagogen luisteren aandachtig naar uw kind zijn/haar problemen.
        </p>
        <h2>De chat</h2>
        <p>
            Wat uniek is aan onze praktijk is dat je op onze website met een hulpverlener of zelfhulpgroep kan chatten. 
            Het werkt ongeveer hetzelfde als Messenger maar dan is het bedoeld voor onze cliënten.
        </p>
        <img src="~/img/overonsBanner.png" alt="plaatje van orthopedagoog en client" class="rounded mx-auto d-block img-fluid">
    </div>
    <div class="row">
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Aandacht</h5>
                    <p class="card-text">Wij hebben aandacht voor jouw problemen.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Plezier</h5>
                    <p class="card-text">Met plezier gaan we het traject tegemoet.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Vertrouwen</h5>
                    <p class="card-text">Wij gaan zorgvuldig met onze cliënten om.</p>
                </div>
            </div>
        </div>
    </div>
</div>