@{
    ViewData["Title"] = "Privacy statement";
}
<h1>@ViewData["Title"]</h1>
<h2>Uw privacy</h2>

<p>
    Voor goede hulpverlening is het nodig om een dossier bij te houden. Dit is ook een verplichting vanuit de Jeugdwet en de WGBO. 
    Hierin leggen wij de gegevens vast van u, uw kind, andere gezinsleden en betrokken hulpverleners. 
    Zorgmaatschap Den Haag gaat zorgvuldig om met de gegevens over u en uw gezin. De afspraken hierover staan in ons Privacyreglement. 
    De belangrijkste afspraken leest u op deze pagina.
</p>

<h2>Het dossier</h2>

<p>
    Om hulp te kunnen bieden leggen wij in het dossier persoonsgegevens vast, zoals naam, adres en geboortedatum van cliënt, 
    diens ouders en/of andere betrokkenen. Ook informatie die nodig is voor de hulpverlening, zoals gespreksverslagen, het behandel-/werkplan, brieven en notities worden hierin bewaard.  
    Deze gegevens gebruiken wij voor zover dat noodzakelijk is voor het bieden van goed hulp en de financiering daarvan.
</p>

<h2>Digitaal registratiesysteem</h2>

<p>
    De dossiergegevens worden vastgelegd in een goed beveiligd digitaal registratiesysteem, dat enkel toegankelijk is voor medewerkers als dat nodig is voor het uitvoeren van hun werk. 
    Als de cliënt jonger is dan zestien jaar hebben (gezagdragende) ouders het recht om het dossier in te zien. 
    Cliënten vanaf twaalf jaar mogen ook zelf hun dossier inzien. Alleen in uitzonderingsgevallen kan van deze regels worden afgeweken.

    Als de gegevens onjuist zijn kunt u schriftelijk vragen om ze te corrigeren, aan te vullen of eventueel te verwijderen. 
    Ook kunt u bezwaar maken tegen het gebruik van bepaalde gegevens. Daarnaast heeft u het recht om de dossiergegevens over te (laten) dragen aan een andere organisatie.
    De dossiergegevens worden 15 jaar bewaard en kunnen op schriftelijk verzoek worden vernietigd.
</p>

<h2>Wie mogen de gegevens ontvangen?</h2>

<p>
    Het uitgangspunt is dat medewerkers van Zorgmaatschap Den Haag geen gegevens uit het dossier aan derden geven zonder uw toestemming.  
    Deze toestemming kunt u ook op een later moment intrekken. Gegevens mogen wel zonder toestemming verstrekt worden aan en opgevraagd worden door medewerkers van Zorgmaatschap Den Haag indien en voor zover deze rechtstreeks betrokken zijn bij de hulp.

    Bepaalde gegevens kunnen daarnaast op grond van een wettelijke plicht zonder toestemming worden verstrekt, bijvoorbeeld aan de gemeente voor de verantwoording van de hulp of in het geval van een vermoeden van onveiligheid omdat wij o.a. 
    ook gehouden zijn aan de verplichte Meldcode Huiselijk geweld en Kindermishandeling. De gegevens kunnen anoniem gebruikt worden om te onderzoeken of de hulp die we bieden goed werkt en voor controle door de Inspectie Gezondheidszorg en Jeugd.

    Als u hulp van Zorgmaatschap Den Haag kunnen wij melding maken bij de Verwijsindex Risicojongeren. Andere hulpverleningsorganisaties werken hier ook mee. 
    Zo voorkomen we dat hulpverleners langs elkaar heen werken en zo kan snel en makkelijk contact gelegd worden om de hulp aan u en uw gezin goed af te stemmen. In de Verwijsindex staat alleen dat u hulp krijgt, niet welke hulp of de reden waarom u hulp ontvangt.

    Zorgmaatschap Den Haag is ingeschreven in het Handelsregister bij de Kamer van Koophandel onder nummer 34279530. 
    Deze privacy statement heeft betrekking op de gegevens die Zorgmaatschap Den Haag verwerkt ten behoeve van de hulpverlening aan haar cliënten.
</p>