@{
    ViewData["Title"] = "Ricco";
}


<div class="container">
    <div class="row">
        <img class="mb-4" src="https://i.redd.it/pn7t2gl9xv071.jpg">
        <h1>Jeroen</h1>
        <p>
           Mijn naam is Ricco Morija, ik ben geboren in 1980 in Irak. Mijn ouders zijn naar Nederland gekomen om wiskundeles te geven op de universiteiten. 
           Dit bracht mij op het idee om later iets te doen met wiskunde.
           Ook ben ik zelf nieuwsgierig naar het gedrag van de mens, hierdoor heb ik een studie gedaan wat te maken heeft met gedrag en rekenen.
        </p>
        <h2>Mijn studie</h2>
        <p>
            Na mijn Havo studie heb ik de opleiding HBO orthopedagoog gevolgd, 
            waar ik een eindopdracht heb gemaakt over dyscalculie. 
        </p>
        <h2>Heb jij dyscalculie?</h2>
        <p>
            Jij hebt waarschijnlijk het gevoel dat je niet zo goed kan rekenen, of misschien loop je achter met rekenen, lezen of spellen. 
            Als dat niet het geval is, kan je gewoon een vermoeden hebben dat je dyscalculie hebt. 
            Soms kan dit invloed hebben op zelfvertrouwen en schoolresultaten. 
            De kans is groot dat extra hulp niet heeft gewerkt in jouw situatie. 
        </p>
        <h2>Hoe zien onze activiteiten eruit</h2>
        <p>
            Ik ga onderzoeken of jij dyscalculie hebt. Daarbij ga ik kijken of je getallen kunt onthouden en of je getallen goed kunt begrijpen. Denk hier aan intelligentie, 
            concentratie en geheugen testen. Daarnaast zal ik ook testen of je moeite hebt bij andere deelgebieden die bewijzen of je problemen hebt bij het rekenen. 
            Verder zal ik vaststellen of er moeilijkheden zijn bij motivatie, onzekerheid, faalangst of andere gedrags-of sociaalemotionele problemen. 
            Je bent hier altijd welkom. Mijn e-mail en nummer staan open voor vragen. Er zal een planning volgen voor een intakegesprek om te zien of wij goed bij elkaar passen. 
            Daarna kun je zelf, of eventueel met je ouder(s)/verzorger(s) beslissen of je je wilt inschrijven voor een behandeling.
        </p>
        <h3>Contact</h3>
    </div>
</div>