/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.navbar {
  background-color: #517664;
  color: #fff;
  padding: 20px 20px !important; 
}

.navbar a {
  color: #fff;
}

.nav-item {
  color: #fff !important;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  margin: 0;
  min-height: 100%;
}

body {
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

.footer {
  position: sticky;
  top: 100%;
  background-color: #517664;
  color: #fff;
}

.footer a {
  color: #fff;
}

/* Wrappers
-------------------------------------------------- */
#imageWrapper {
  background-image: url('https://www.ambion.nl/images/cache/1280/640/1/center/90/26-432-obs-it-oerset-mg-3718.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 350px;
}

#cardsWrapper {
  padding: 50px 0 50px 0;
}
